# Django settings
SECRET_KEY=SOME_SECRET_KEY
DEBUG=0
DJANGO_SETTINGS_MODULE=path.to.settings

# Database settings
DB_ENGINE=DB_ENGINE
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT

# redis and celery settings
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=GOOGLE_OAUTH2_KEY
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=GOOGLE_OAUTH2_SECRET
SOCIALACCOUNT_APPLE_CLIENT_ID=APPLE_CLIENT_ID
SOCIALACCOUNT_APPLE_TEAM_ID=APPLE_TEAM_ID
SOCIALACCOUNT_APPLE_SECRET=APPLE_SECRET

RECAPTCHA_PUBLIC_KEY=MyRecaptchaKey123
RECAPTCHA_PRIVATE_KEY=MyRecaptchaPrivateKey456